*{
    margin: 0;
    padding: 0;
}
body{

    background-image: url(../image/grayBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-text{
    display: inline-block;
     margin: 5px ;}
     
     .card-img-top{
     height: 12rem; }